---
- name: "Replace a line in proxmoxlib.js (PVE 8.x)"
  replace:
    path: "/usr/share/javascript/proxmox-widget-toolkit/proxmoxlib.js"
    regexp: 'fmt\(gettext\(''Non production-ready repository enabled!''\), ''exclamation-circle.*?''\);'
    replace: "fmt(gettext('Non production-ready repository enabled!'), 'exclamation-circle');"
    backup: true
  when: skip_version_check or (pve_version is version('8.2', '>=') and pve_version is version('9.0', '<'))
  notify: "Restart PVE Proxy"
...
